* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header styling */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    color: white;
}

/* Logo styling */
.main-header .logo img {
    max-height: 50px;
}


/* Navigation Link Styling */
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
}

/* Register Form */
.logout-button {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 0.4;
    text-decoration: none;
}

/*Hover effect for logout button */
.logout-button:hover {
    background-color: #555;
    border-radius: 5px;
}


.nav-links ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Footer styling */
footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
}

/* Post Detail */
.center-box {
    display: flex;
    justify-content: center;     /*Centered horizontally in the container*/
    align-items: center;        /*Centered vertically in the container */
    margin-top: 10px;
}

.center-box .box-content {
    display: flex;
    flex-direction: column;     /* Items are laid out in a column (Each on top of each other)*/
    align-items: center;
    width: 80%;                /* Adjust the box width */
    max-width: 800px;           /* Limit the maximum width */
    padding: 30px;
    background-color: #f9f9f9;
    border: 6px solid #000;     /* Black border */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.box-content img {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    border-radius: 8px;
}

/* .box-content a {
    align-self: flex-start;
} */

#detail-post-like-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}


/*Style for the comments section container */
#comments-section {
    background-color: #f0f0f0;    /* Light grey background */
    border-radius: 8px;           /* Rounded corners */
    padding: 20px;                /* Padding inside the section */
    margin-top: 20px;             /* Space from the top */
    max-width: 700px;             /* Maximum width of the comments section */
    margin-left: auto;            /* Center horizontally */
    margin-right: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;

}

/*General styling for each individual comment */
.comment {
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;    /* White background for comments */
    border: 1px solid #ddd;       /* Light grey border around comments */
    padding: 15px;                /* Padding inside the comment box */
    margin-bottom: 15px;          /* Space between comments */
    border-radius: 6px;           /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.custom-link {
    color: black;
    text-decoration: none;
}

/* Posts on Profiles & Feed Page */

#post-container {
    display: flex;    
    flex-wrap: wrap;   /*Child elements to wrap onto multiple line, it not enough space*/
    justify-content: flex-start;    /* Aligns items from left to right */
    gap: 2%;   /*Adds gap between each flex item, both horizontally and vertically if they wrap to new line*/
    padding: 0 15%;   /*Padding inside container, only on left & right side */
    margin: 0 auto;     /*Vertical margins to 0, horizontally centers the container within its parent container*/
    margin-left: 3%;
}

.post-box {
    flex: 1 1 calc(33.33% - 30px);  /* 1 - allows item to grow and fill available space, 1 - allow item to shrink if not enough space in container, Set initial width to 33.33% of container */
    max-width: calc(33.33% - 30px);  /* Limits max width of each .post-box to calc(33% - 20px), ensuring each item doesn't exceed the containers width minus 20px */
    box-sizing: border-box;  /* Ensure padding and border included in the elements toal width and height */
    flex-direction: column;   /* Aligns the item's child elements in a vertical column with the flexbox */
    align-items: center;   /* Centers child elements of .post-box horizontally */
    padding: 30px;   /* Adds space inside all sides of .post-box */
    margin-bottom: 50px;  /* Adds space below each .post-box, creating vertical space between rows of items */
    background-color: #f9f9f9;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;  /* Prevents long words from overflowing by wrapping onto next line. */
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-word;
    display: flex;
}

.post-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

/*For profile photo and needed for infinite scroll */
.post-box-profile-photo {
    flex: 1 1 calc(33.33% - 30px);  /* 1 - allows item to grow and fill available space, 1 - allow item to shrink if not enough space in container, Set initial width to 33.33% of container */
    max-width: calc(33.33% - 30px);  /* Limits max width of each .post-box to calc(33% - 20px), ensuring each item doesn't exceed the containers width minus 20px */
    box-sizing: border-box;  /* Ensure padding and border included in the elements toal width and height */
    flex-direction: column;   /* Aligns the item's child elements in a vertical column with the flexbox */
    align-items: center;   /* Centers child elements of .post-box horizontally */
    padding: 30px;   /* Adds space inside all sides of .post-box */
    margin-bottom: 50px;  /* Adds space below each .post-box, creating vertical space between rows of items */
    background-color: #DAE3F3;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;  /* Prevents long words from overflowing by wrapping onto next line. */
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-word;
    display: flex;
}

.post-box-profile-photo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}


#post-feed-container {
    display: flex;    
    flex-wrap: wrap;   /*Child elements to wrap onto multiple line, it not enough space*/
    justify-content: flex-start;    /* Aligns items from left to right */
    gap: 2%;   /*Adds gap between each flex item, both horizontally and vertically if they wrap to new line*/
    padding: 0 15%;   /*Padding inside container, only on left & right side */
    margin: 0 auto;     /*Vertical margins to 0, horizontally centers the container within its parent container*/
    margin-left: 3%;
}


/* Header for My Profile */

#profile-header-container {
    display: flex;
    justify-content: space-around;   /* Adjusts spacing for different number of items */
    padding: 0px 15%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    align-items: center;
    height: 50px;
}

.profile-header-box {
    flex: 1 1 auto;    /*Automatically adjusts to available space */
    max-width: 18%;    /*Ensures boxes fit even if there are 6 items */
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

#follow-header-container {
    display: flex;
    justify-content: center; /* Centers the boxes */
    gap: 20px; /* Adds a small distance between the boxes */
    padding: 0 5%; /* Reduces padding to avoid large spaces on bigger screens */
    margin: 0 auto;
    margin-bottom: 0px;
    background-color: #f9f9f9;
    border-radius: 10px;
    align-items: center;
    height: 50px;
    max-width: 90%; /* Prevents the container from becoming too wide */
}

.follow-header-box {
    flex: 0 1 auto; /* Prevents shrinking too small, allows adjusting to content */
    width: 200px; /* Sets a fixed width for each box; adjust as needed */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.custom-link.active {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
}


/* Chat App */

.chat-box {
    height: 70vh;
    flex: 1;    /*Takes available vertical space */
    display: flex;
    justify-content: center;     /*Centered horizontally in the container*/
    align-items: flex-start;        /* Aligns messages to top of chat box */
    margin-top: 10px;
}

.chat-box .chat-content {
    display: flex;
    flex-direction: column;     /* Items are laid out in a column (Each on top of each other)*/
    width: 80%;                /* Adjust the box width */
    max-width: 800px;           /* Limit the maximum width */
    height: 90%;
    max-height: 1000px;
    padding: 30px;
    background-color: #f9f9f9;
    border: 6px solid #000;     /* Black border */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-message {
    padding: 10px 15px;
    border-radius: 10px;
    margin: 5px;
    max-width: 60%;
    word-wrap: break-word;
}

.message-sent {
    align-self: flex-end;
    background-color: rgb(135, 215, 250);
    text-align: right;
}

.message-received {
    align-self: flex-start;
    background-color: lightgray;
    text-align: left;
}

/* Message input area */
.chat-input {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 800px;
    display: flex;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-input input {
    flex: 1;                   /* Expand input to fill available space */
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px 0 0 10px;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
}

/*styling for users tagged in posts and comments*/
.user-link {
    color: blue;
    text-decoration: none;
}

.user-link:hover {
    color: darkblue;
}


/*Auto-complete*/
.autocomplete-dropdown {
    position: absolute;
    background: white;
    border: 1px solid black;
    list-style: none;
    padding: 5px;
    margin: 0;
    width: 312px;
}

.autocomplete-dropdown li {
    padding: 5px;
    cursor: pointer;
}

.autocomplete-dropdown li:hover {
    background-color: #f0f0f0;
}

