{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="logo">
            <a href="#"><img src="{% static 'account/site_logo.png' %}" alt="Logo"></a>
        </div>
        <nav class="nav-links">
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Messages</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <input class="logout-button" type="submit" value="Logout">
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %} {% endblock %}
    {% block include_js %} {% endblock %}

</body>
</html>