{% extends "base.html" %}

{% block title %}Your Main Feed{% endblock %}

{% block content %}
    <br>
    <h1 style="text-align: center;">{{ request.user.username }}</h1>
    <br>
    <div id="post-feed-container">
        {% if page_obj %}
            {% for post in page_obj %}
                <div class="post-box">
                    <a class="custom-link" href="{% url 'post:post_detail' post.id %}">
                        <img src="{{ post.photo.url }}">
                    </a>
                    <div id="detail-post-like-section">
                        <div class="post-like-{{ post.id }}">
                            {% include 'partials/post_like.html' with post_like_status=post.post_like_status %}
                        </div>
                    </div>
                    <p><strong>{{ post.user.username }}</strong> {{ post.processed_caption|safe }}</p>
                </div>
            {% endfor %}
        {% else %}
            <h1 style="text-align:center;">No Posts yet.</h1>
        {% endif %}
    </div>
    <div class="pagination-container">
        {% if page_obj.has_next %}
            <span hx-get="{% url 'post:feed' %}?page={{ page_obj.next_page_number }}" hx-trigger="revealed" hx-target="#post-feed-container" hx-swap="beforeend" hx-select=".pagination-container, .post-box"></span>
        {% endif %}
    </div>

{% endblock %}

{% block include_js %}
    <script>
        window.addEventListener("pageshow", function (event) {
            if (event.persisted) {
                location.reload()
            }
        })
    </script>
{% endblock %}