{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <div id="follow-header-container">
        <div class="follow-header-box">
            <h3>Search</h3>
        </div>
    </div>

    <div class="center-box">
        <div class="box-content">
            <h1>{{ request.user.username }}</h1>
            <br>
            <label for="id_caption">Search</label>
            <input type="text" id="id_caption" name="search_text">
            <br>
            <ul id="user-list">
                {% if not user_list %}
                    <p>No recent searches</p>
                {% else %}
                    <p><strong>Recently searched</strong></p>
                    {% for user in user_list %}
                        <p>
                            <a class="custom-link" href="{% url 'post:detail_profile_view' user.id %}">{{ user.searched_user.username }} - {{ user.searched_user.first_name }} {{ user.searched_user.last_name }}</a>
                        </p>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block include_js %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const captionInput = document.getElementById("id_caption");
            captionInput.focus()
            let debounceTimer;

            // <!--Debounce function to limit API requests-->
            function debounce(func, delay) {
                return function (...args) {
                    clearTimeout(debounceTimer);
                    debounceTimer = setTimeout(() => func(...args), delay);
                };
            }

            async function fetchUsers(q) {
                try {
                    const response = await fetch(`/post/search?q=${q}`);
                    if (!response.ok) {
                        throw new Error("Failed to fetch user list");
                    }
                    const data = await response.json();
                    return data;
                } catch (error) {
                    console.error("Error fetching user list:", error);
                    return [];
                }
            }

            async function handleInput(event) {
                const cursorPos = captionInput.selectStart;
                const text = captionInput.value.slice(0, cursorPos);
                const userList = document.getElementById('user-list');
                if (text.trim() === "") {
                    userList.innerHTML = "";
                    location.reload()
                    return;
                }

                if (text.length < 2) return;
                
                const data = await fetchUsers(text);
                userList.innerHTML = "";

                if (data.length > 0) {
                    userList.innerHTML = "";
                    data.forEach(user => {
                        const listItem = document.createElement("p");
                        const link = document.createElement("a");
                        link.href = `/post/profile/${user.id}/`;
                        link.className = 'custom-link';
                        link.textContent = `${user.username} - ${user.first_name} ${user.last_name}`;
                        listItem.appendChild(link);
                        userList.appendChild(listItem);
                    });
                } else {
                    const noResults = document.createElement("p");
                    noResults.textContent = "No results";
                    noResults.style.color = "gray";
                    userList.appendChild(noResults);
                }
                }

            captionInput.addEventListener("input", debounce(handleInput, 300));
        });

    </script>

{% endblock %}