{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <h1>Password Reset</h1>
    {% if validlink %}
        <p>Enter your new password.</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Reset Password">
        </form>
    {% else %}
        <p>The password link is invalid, possibly because it was already used. Please perform the password reset again to obtain a new link.</p>
    {% endif %}
{% endblock %}