{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="logo">
            <a href="#"><img src="{% static 'account/site_logo.png' %}" alt="Logo"></a>
        </div>
        <nav class="nav-links">
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'post:feed' %}">Home</a></li>
                    <li><a href="{% url 'post:user_search_view' %}">Search</a></li>
                    <li><a href="{% url 'post:notifications_view' request.user.id %}">Notifications</a></li>
                    <li><a href="{% url 'post:messages_view' request.user.id %}">Messages</a></li>
                    <li><a href="{% url 'post:my_profile' %}">Profile</a></li>
                    <li><a href="{% url 'edit_profile' %}">Settings</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <input class="logout-button" type="submit" value="Logout">
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

{% block content %} {% endblock %}

{% block include_js %} 
    <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
    <script>
        document.addEventListener('htmx:configRequest', (event) => {
        let csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        event.detail.headers['X-CSRFToken'] = csrfToken;
    });
    </script>

    {% if request.user.is_authenticated %}
        <script>
            function checkForNewNotifications() {
                fetch("{% url 'post:new_notification_check' request.user.id %}")
                .then(response => response.json())
                .then(data => {
                    let notificationButton = document.querySelector(".nav-links a[href*='notifications']");
                    if (data.new_tag) {
                        notificationButton.style.backgroundColor = "darkblue";
                    } else {
                        notificationButton.style.backgroundColor = "";
                    }
                })
                .catch(error => console.error("Error checking notifications:", error));
            }
            
            setInterval(checkForNewNotifications, 90000);
            document.addEventListener("DOMContentLoaded", checkForNewNotifications);
        </script>
    {% endif %}
{% endblock %}

</body>
</html>